@model DrillSiteManagementPortal.Models.DrillSiteModel

@{string tableColour = Model.Id % 2 == 0? "#dae7ef;" : "aliceblue;";}
<div  style="padding: 20px; width: 100%; background-color: @tableColour; cursor: pointer" id="@Model.Id" , class="drill_site_container">
    <table>
        <thead>
            <tr>
                <th>Drill site #@Model.Id</th>
                <th>@Model.StartDate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @String.Format("Dip: {0:F2}°", Model.CollarDip)
                </th>
                <th>
                    @String.Format("Azimuth: {0:F2}°", Model.CollarAzimuth)
                </th>
            </tr>
            <tr>
                <th>
                    @String.Format("Number of Readings: {0}", @Model.DepthReadings.Count)
                </th>
            </tr>
        </tbody>
    </table>
</div>